* {
    font-family: cursive;
}

body {
    background-color: antiquewhite;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

a {
    color: #977750;
}

a:visited {
    color: #4b3b28;
}

.portrait {
    width: 200px;
    height: 200px;
    border: 10px solid #977750;
    border-radius: 110px;
}

.backdrop {
    filter: blur(10px);
    opacity: 0.2;
    transition: all 0.2s;
}

#details {
    padding: 20px;
}

#details > div {
    margin-bottom: 50px;
}